@import url(font.css);
/* div[class*="col"] {
    border: 1px solid wheat;
} */

/* div[class*="empty"] {
    border: 1px solid white;
} */

.trailer {
      height: 300px;
      width: 200px;
    }
    
.showlist, .card-footer {
  background-color: black !important;
  color: white !important;
}

.w-115 {
    width: 114% !important;
    
}

.h-15 {
    height: 18% !important;
}

.ml-10 {
	margin-left: -10vw;	
}

.gradienttop {
    position: absolute;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.815)) !important;
    z-index: 2;
}

.gradientdown {
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.822), rgba(255, 255, 255, 0)) !important;
    z-index: 2;
    margin-top: 37.6vw;
}

a:focus {
    border: none;
    outline: none;
}

a,
a:hover {
    color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-menu {
    display: block;
    left: -80vw;
}

#login {
    color: rgb(170, 170, 170);
    text-decoration: none;
    font-size: 11px;
}

#divlogin {
    position: absolute;
    right: 17vw;
    z-index: 1;
}

#postlabel {
    margin-left: 46px;
}

#nav-logo {
    border-bottom: 1px solid rgba(163, 163, 163, 0.726);
    padding-bottom: 7px;
}

#logo {
    width: 20%;
    opacity: 0.7;

}

#login:hover {
    border-bottom: 4px solid rgb(211, 63, 63);
}

.menu:hover {
    border-bottom: 4px solid rgb(211, 63, 63);

}

.submenu:hover {
    font-weight: bolder;

}

ul {
    list-style: none;
}

.sub li {
    display: inline-block;
    text-align: center;
}

.sub li:nth-child(1) {
    margin-left: 78vw;
}

.sub {
    background-color: #000000f5;
    border: none;
    width: 200vw !important;
    z-index: 3;
    /* opacity: 0.9; */
}

.submenu {
    font-size: smaller;
    height: 2rem;
    border: 0px;
    margin-left: 50px;

    animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
    /* Firefox */
    -webkit-animation: fadein 0.3s;
    /* Safari and Chrome */
    -o-animation: fadein 0.3s;
    /* Opera */

}

@keyframes fadein {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0.8;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0.8;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0.85;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0.8;
    }
}

.menu {
    height: 3rem;
    border: 0px;
    text-align: center;
    color: white;
    font-size: 1rem;
    padding-top: 0.9rem;
    opacity: 0.8;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #eceff1;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0);
}


#modalLRForm::-webkit-scrollbar {
    width: 10px;
}

#modalLRForm::-webkit-scrollbar-thumb {
    background-color: #e0f7fa73;
    border-radius: 10px;
}

#modalLRForm::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0);
}