<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="csMapper">
	<!-- 게시판 글 작성 -->
	<insert id="insert">
		INSERT INTO CUSTOMERSERVICE(cs_uid, cs_memid, cs_content,  cs_subject) 
		VALUES(CUSTOMERSERVICE_SEQ.nextval, #{cs_memid}, #{cs_content}, #{cs_subject})
    </insert>
	

	<select id="listPage" resultType="com.lec.dto.CsDTO" parameterType="com.lec.dto.Criteria">
		SELECT cs_uid, cs_memid, cs_subject, cs_content, cs_status, cs_regdate 		  
		FROM (SELECT cs_uid, cs_memid, cs_subject, cs_content, cs_status, cs_regdate , 
		      ROW_NUMBER() OVER(ORDER BY cs_uid DESC) AS RNUM FROM CUSTOMERSERVICE) CS
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd} ORDER BY cs_uid DESC
	</select>	
	
	<select id="listCount" resultType="int">
	<![CDATA[
		SELECT COUNT(cs_uid)
		  FROM CUSTOMERSERVICE
		 WHERE cs_uid > 0
	]]>
	</select>
	
	<select id="read" resultType="com.lec.dto.CsDTO" parameterType="int">
		SELECT cs_uid, cs_memid, cs_subject, cs_content, cs_status, cs_regdate, cs_answer
		FROM CUSTOMERSERVICE WHERE cs_uid = #{cs_uid}
	</select>
</mapper>

