<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- 

CREATE TABLE MEMBERS
(
    mem_uid            NUMBER           NOT NULL, 
    uesrid         VARCHAR2(20)     NOT NULL UNIQUE, 
    userpw         VARCHAR2(20)     NOT NULL, 
    name           VARCHAR2(20)     NOT NULL, 
    email          VARCHAR2(100)    NOT NULL, 
    phone          VARCHAR2(20)     NOT NULL, 
    zipcode        VARCHAR2(20)     NOT NULL, 
    address1       VARCHAR2(100)    NOT NULL, 
    address2       VARCHAR2(100)    NOT NULL, 
    signupdate    DATE             NOT NULL, 
    status         CHAR(1)          NOT NULL, 

    CONSTRAINT MEMBERS_PK PRIMARY KEY (mem_uid)
);
 -->
 
 
 
<mapper namespace="memberMapper">
	<!-- 모든 회원 목록 -->
	
	<select id="allMember" resultType="com.lec.dto.memberDTO">
		SELECT * FROM MEMBERS
	</select> 
	 
	<!-- 중복체크 -->
	<select id="getMemUserid" resultType="java.lang.String">
		SELECT userid FROM MEMBERS WHERE userid = #{userid}
	</select>
	
	<!-- 회원 가입 -->
	<insert id="register" parameterType="com.lec.dto.memberDTO">
		INSERT INTO MEMBERS(mem_uid, userid, userpw, name, email, phone, zipcode, 
							address1, address2, signupdate, status)
			 VALUES(MEMBERS_SEQ.NEXTVAL, #{userid}, #{userpw}, #{name}, #{email}, #{phone}, #{zipcode}, 
							#{address1}, #{address2}, SYSDATE, '0')
	</insert>
	
	<!-- 로그인 -->
	<select id="login" resultType="com.lec.dto.memberDTO">
		SELECT userid, name, email, phone, 
				zipcode, address1, address2, signupdate, status
	  			FROM MEMBERS WHERE userid = #{userid} AND userpw = #{userpw}
	</select>
	
	<!-- 회원정보수정 -->
	<update id="updateMemInfo">
		UPDATE MEMBERS 
		SET userpw = #{userpw}, name=#{name}, email = #{email}, phone = #{phone}, 
			zipcode = #{zipcode}, address1 = #{address1}, address2 = #{address2}
		WHERE userid = #{userid}
	</update>

	<!-- 메일 중복 체크 -->
	<select id="chkMemEmail" resultType="java.lang.String">
		SELECT email FROM MEMBERS WHERE email= #{email}
	</select>

	<!-- 회원 정보 -->
	<select id="getMemInfo" resultType="com.lec.dto.memberDTO">
		SELECT userid, name, email, phone, zipcode, 
				address1, address2, signupdate, status
		FROM MEMBERS WHERE userid = #{userid}
	</select>


	
</mapper>

